body{
    background-color: #eef2ff;
}
header{
    text-align: center;
    align-items: center;
    justify-content: center;
    a{
        float: left;
        padding-left: 5vw;
    }
    nav{ 
        text-align: left;
    }
}
main a{
    float: right;
    margin: 2vw;
}
.imgName{
    font-size: small;
}
.image{
    padding: 2vw 0 2vw 2vw;
    a{
        margin: 0%;
    }
}
.imageR{
    padding: 0 0 2vw 2vw;
    a{
        margin: 0%;
    }
}
.info{
    padding-left: 2vw;
    width: 100%;
    h2{
        text-align: center;
    }
    .user{
        font-size: small;
        text-align: left;
        margin-right: 1vw;
    }
    a{
        width: 50%;
        font-size: small;
        text-align: right;
        float: right;
    }
}
.threads, .reply{
    display: flex;
    margin: 3vw;
    border: 2px solid black;
    img{
        margin-right: 3vw;
        width: 10vw;
        height: auto;
    }
}
.thread, .threads{
    background-color: #d6daf0;
}
.reply{
    background-color: #b7c5d9;
}
.id{
    color: red;
}
.thread{
    display: flex;
    margin: 3vw;
    border: 2px solid black;
    img{
        margin-right: 3vw;
        width: 20vw;
        height: auto;
    }
    .info{
        margin-top: 5vh;
    }
}