{%extends "base.html"%}
{%block content%}
<form action="" method="post">
    {%csrf_token%}
    <label for="title">Title:
        <input type="text" name="title" value="{{proj.title}}">
    </label><br>
    <label for="description">Description:
        <textarea name="description" id="description" rows="10" cols="50">{{proj.description}}</textarea>
    </label><br>
    <label for="date">Date:
        <input type="text" name="date" value="{{proj.date}}">
    </label><br>
    <input type="submit" name="submit" value="Edit">
    <input type="submit" name="submit" value="Delete">
</form>
<!-- <p>Title: <strong>{{proj.title}}</strong></p>
<p>Description: {{proj.description}}</p>
<p>Date: {{proj.date|date:"d, M \o\f Y"}}</p>
<p>Manager: {{proj.manager}}</p> -->
{%endblock%}