* {
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    color: gray;
}
.grid-container{
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";
    gap: 10px;
    grid-template-rows: auto 1fr auto;
}
header{
    grid-area: header;
    text-align: center;
    h1{
        margin-bottom: 0;
    }
    h3{
        margin-top: 0;
    }
}
nav{
    margin-left: auto;
    grid-area: nav;
    float:left;
    text-align: left;
    ul{ 
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding:20px;
        justify-content: space-between;
    }
    a{
        color: grey;
        text-decoration: none;
    }
    li{
        margin-bottom: 2vh;
    }
}
footer{
    margin-left: auto;
    margin-right: auto;
    grid-area:footer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 40px;
        height: auto;
    }
    #direccion{
        font-style: italic;
        width: 11%;
    }
}
main{
    width: 90%;
    padding: 1vw;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    grid-area:main;
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: auto auto; */
    gap: 15px;
    .card:nth-child(1){
        grid-area: 1/3 / 1/1;
    }
    .card:nth-child(even){
        font-weight: bold;
        font-size: larger;
    }
}
img{
        width: 90%;
        height: auto;
    }
.card{
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    img{
        width: 90%;
        height: auto;
    }
}
/* main .card:nth-child(3){
    grid-area: 1 / 3 / 3 / 4;
}
main .card:nth-child(4){
    grid-column: 1/3;
} */
