<?php declare (strict_types = 1)?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>novell</title>
</head>
<body>
    <h2>Novell services login</h2>

    <form action="{% url 'next' %}">
        <label for="idUser">Username: </label>
        <input type="text" id="idUser" name="user"><br>
        <label for="idPssw">Password: </label>
        <input type="password" id="idPssw" name="pssw"><br>
        <label for="idCity">City: </label>
        <input type="text" id="idCity" name="city"><br>
        <label for="idWebServ">Web Service: </label>
        <select name="webS" id="idWebServ">
            <option value="apache">Apache</option>
            <option value="nginx">Nginx</option>
            <option value="tomcat">Tomcat</option>
        </select><br>
        <label>Role: </label><br>
            <input type="radio" name="role" value="admin">Admin<br>
            <input type="radio" name="role" value="engineer">Engineer<br>
            <input type="radio" name="role" value="manager">Manager<br>
            <input type="radio" name="role" value="guest">Guest<br><br>
        <label>Single Sing-on to the following: </label><br>
            <input type="checkbox" name="mail" value="mail">Mail<br>
            <input type="checkbox" name="payroll" value="payroll">Payroll<br>
            <input type="checkbox" name="selfS" value="selfS">Self-service<br><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>